<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Trang Chủ</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center mt-5">
  <h1 class="mb-4">Chào Mừng</h1>
  <p>Hãy chọn loại tài khoản để đăng nhập:</p>
  <div>
    <a href="/login/candidate" class="btn btn-primary btn-lg mr-2">Đăng Nhập Ứng Viên</a>
    <a href="/login/company" class="btn btn-success btn-lg">Đăng Nhập Nhà Tuyển Dụng</a>
  </div>
</div>
</body>
</html>
